/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3ece7;
}

.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333;
}

.About h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-member .photo {
    width: 200px;
    height: 200px;
    background-color: #d3a07e;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

.navbar {
    background-color: #f3ece7;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.active {
    text-decoration: underline;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.header .logo h1 {
    font-size: 1.5rem;
    color: #333;
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .menu a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.header .menu a:hover {
    text-decoration: underline;
}
